coloredlogs
dataclasses;python_version<"3.7"
librosa>=0.8.0
numpy>=1.18.3
pandas>=1.0.3
pocketsphinx
pyaudio
pydantic>=1.7.3
soundfile==0.10.3.post1
tensorboard
tqdm
torch>=1.5.0
torchaudio>=0.5.0
torchvision>=0.6.0
